/Test.X/build/
/Test.X/dist/
/Exemple_1.X/dist/
/Exemple_1.X/build/
/Exemple_2.X/build/
/Exemple_2.X/dist/
/Exemple_3.X/dist/
/Exemple_3.X/build/
/Test_SWT_LED.X/build/
/Test_SWT_LED.X/dist/
/Labo_Exercice1_DELs.X/build/
/Labo_Exercice1_DELs.X/dist/
/Labo_Exercice2_Interrupt_timer.X/build/
/Labo_Exercice2_Interrupt_timer.X/dist/
/Labo_Exercice4_Horloge.X/build/
/Labo_Exercice4_Horloge.X/dist/